* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 992px) {
    body {
        background: url('../images/picBack.jpg');
        background-size: cover;
    }

    .smallDiv {
        /* width: 50%; */
        /* margin: 0 auto; */
        background-color: rgba(255, 255, 255, 0.2);
        /* padding: 20px; */
        /* border-radius: 10px; */
        /* margin-top: 50px; */
    }
}